<style>
  .footer-img {
    width: 100%;
    height: 120px;      /* ajusta la altura que quieras */
    object-fit: cover;  /* recorta sin deformar */
    border-radius: 6px; /* opcional */
    display: block;
  }
</style>

<footer class="bg-body-tertiary text-center">
  <div class="container p-4">
    <section>
      <div class="row g-3">
        <div class="col-lg-2 col-md-4 col-6">
          <div class="bg-image hover-overlay shadow-1-strong rounded" data-mdb-ripple-init data-ripple-color="light">
            <img loading="lazy" src="https://tse2.mm.bing.net/th/id/OIP.O6rJz4kd23ZqlmA4cD9KSgHaHa?pid=Api" class="footer-img" alt="Flan 1">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="bg-image hover-overlay shadow-1-strong rounded" data-mdb-ripple-init data-ripple-color="light">
            <img loading="lazy" src="https://tse4.mm.bing.net/th/id/OIP.27pGkXWNMDicp3Z4oKSzsAHaHa?pid=Api" class="footer-img" alt="Flan 2">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="bg-image hover-overlay shadow-1-strong rounded" data-mdb-ripple-init data-ripple-color="light">
            <img loading="lazy" src="https://tse3.mm.bing.net/th/id/OIP.2-jF7Idy1WDc132dhwymigHaF7?pid=Api" class="footer-img" alt="Flan 3">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="bg-image hover-overlay shadow-1-strong rounded" data-mdb-ripple-init data-ripple-color="light">
            <img loading="lazy" src="https://tse3.mm.bing.net/th/id/OIP.9-dpAillww0ZREgjLCXPAgHaEK?pid=Api" class="footer-img" alt="Flan 4">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="bg-image hover-overlay shadow-1-strong rounded" data-mdb-ripple-init data-ripple-color="light">
            <img loading="lazy" src="https://tse3.mm.bing.net/th/id/OIP.jXpnjZSw7fhTHK3qHt2tagHaLG?pid=Api" class="footer-img" alt="Flan 5">
          </div>
        </div>

        <div class="col-lg-2 col-md-4 col-6">
          <div class="bg-image hover-overlay shadow-1-strong rounded" data-mdb-ripple-init data-ripple-color="light">
            <img loading="lazy" src="https://tse4.mm.bing.net/th/id/OIP.j67ThkG-8f9USkcUz5LeyQHaLH?pid=Api" class="footer-img" alt="Flan 6">
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0,0,0,.05);">
    © 2025 Copyright:
    <a class="text-body" href="https://studious-capybara-5g5pj9p4jpp7fpvr6-8000.app.github.dev/">OnlyFlans</a>
  </div>
</footer>
